.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.buttonContainer {
  width: 10%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
}

button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #4A7DB0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:not(:last-of-type) {
  margin-right: 1rem;
}

button span {
  color: #F6F6FB;
}